@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: hidden;
}

.cm-variable-highlight {
    color: var(--accent-9);
    font-weight: bold;
    background-color: var(--accent-3);
}
